@import "./assets/_reset.scss";
@import "./bootstrap/bootstrap";
// @import "./cms";
body{
    // background-color: #ccc;
}
.nav_ul{
    // width: 20%;
}
.nav_li{
    
}
.cms_table{
    margin-top:50px;
}
.cms_edit{
    margin-top:50px;
    display: none;
    textarea{
        width: 100%;
    }
    input{
        width: 100%;
    }
}
button{
    cursor: pointer;
}
.btn{
    cursor: pointer;
}
.news_img{
    img{
        width: 100px;
    }
}
.news_update_img{
    img{
        width: 100px;
    }
}
.news_creact_tr{
    border:none;
    td{
        border-top:none;
    }
}
.news_create_td{
    border-top:none !important;
    border:none;
}