@import "./assets/_reset.scss";
// @import "./bootstrap/bootstrap";
// @import "./cms";


@import "./assets/color";
@import "./layout/common";

@import "./layout/header";
@import "./layout/footer";
@import "./layout/index";
@import "./layout/about";
@import "./layout/rooms";
@import "./layout/news";
@import "./layout/tours";
@import "./layout/traffic";
@import "./layout/attractions";
