@font-face {
  font-family: jinxuan;
  src: url("../font/jf-jinxuan-medium.otf");
}

* {
  box-sizing: border-box;
  font-family: jinxuan;
  letter-spacing: 0.5px;
  color: $fontcolor;
}

body,
html {
  font-size: 16px;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
//plugin

.bx-wrapper {
  box-shadow: 0;
  border: 0;
}

.container {
  width: 1170px;
  // width: 960px;
  margin: 0 auto;
}

.rwd-img {
  width: 100%;
  height: auto;
}

.orange {
  color: $orange;
}

.deepblue {
  color: $deepblue;
}
//common

.bannerbox {
  position: relative;
  height: 100vh;
  background-position: 50%;
  background-size: cover;

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 100;
    font-size: 3rem;
    text-shadow: 1px 2px 12px $black;

    span {
      display: block;
      padding: 10px 0;
      letter-spacing: 8px;
      color: $white;

      &:nth-of-type(1) {
        transform: translateX(-40%);
      }

      &:nth-of-type(2) {
        transform: translateX(30%);
      }
    }
  }
}
//media query
@media (max-width:640px) {
  .container {
    width: 95%;
  }

  .bannerbox {
    height: 60vh;

    .title {
      width: 100%;
      text-align: center;

      span {
        writing-mode: vertical-lr;
        transform: translateX(0%);
        margin: 0 auto;
        padding: 0 30px;
        font-size: 1.8rem;

        &:nth-of-type(1) {
          transform: translateX(-30%) translateY(50%);
        }

        &:nth-of-type(2) {
          transform: translateX(30%) translateY(-20%);
        }
      }
    }
  }
}
