header#header{
  position: fixed;
  top:0;
  left: 0;
  z-index: 1000;
  width: 100%;
  .ham{
    display: none;
  }
  .menubox{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 5px 40px;
    background-color: rgba($white,0.7);
    box-shadow: 0 5px 12px rgba($black,0.2);
    &:after{
      content:'';
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 115%;
      background-color: rgba($white,0.6);
      box-shadow: 0 5px 12px rgba($black,0.2);
      z-index: -1;
    }
    a{
      display: block;
    }
    .text{
      color: $black;
      text-align: center;
      font-size: 1rem;
      padding-left: 5px;
    }
  }
  .logo{
    width: 20%;
    // margin: 0 50px;
    text-align: center;
  }
  .menu{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-left: 5%;
    padding-bottom: 5px;
    li{
      // width: 80px;
      margin: 0 15px;
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        .icon{
          // padding: 5px 20px 10px;
          width: 25px;
          height: 25px;
        }
      }
    }
  }


  @media (max-width:1200px) {
    .menu{
      width: 70%;
      margin-left:10%;
    }
  }
  @media (max-width:996px) {
     .menubox{
       padding: 5 20px;
     }
    .menu{
      width: 75%;
      margin-left:5%;
    }
    .icon{
      padding: 10px;
    }
  }
@media (max-width: 768px){
  .container{
    width: 100%;
  }
  .menubox{
    width: 100%;
    background-color: rgba($deepblue,1);
    border-radius: 0;
    &:after{
      display: none;
    }
  }

  .ham{
    display: block;
    position: absolute;
    left: 20px;
    top: 50%;
    z-index: 1000;
    transform: translateY(-40%);
    label{
      display: block;
      width: 35px;
      height: 35px;
      // border: 1px solid $white;
      &:after,&:before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 3px;
        width: 100%;
        background-color: $white;
        transition: 0.5s;
      }
      &:before{
        box-shadow: 0 -8px $white;
      }
      &:after{
        box-shadow: 0 8px $white;
      }
    }
    input{
      position: absolute;
      left: -1000px;
    }
    #menuHam:checked ~ label:after{
      transition: 0.5s;
      transform: translateY(-50%) rotate(-45deg);
      box-shadow: 0 8px transparent;
    }
    #menuHam:checked ~ label:before{
      transition: 0.5s;
      transform: translateY(-50%) rotate(45deg);
      box-shadow: 0 8px transparent;
    }
  }

  .logo{
    width: 100%;
  }
  ul.menu{
    display: block;
    position: absolute;
    top: -450%;
    left: 0;
    width: 100%;
    margin: 0 auto;
    background-color: rgba($deepblue,0.8);
    transition: 0.5s;
    z-index: -1;
    &.active{
      top:100%;
    }
    li{
      margin: 0 auto;
      padding: 15px 0;
      .text{
        font-size: 1.2rem;
      }
      .icon{
        display: none;
      }
    }
  }
}





}
