meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title 宜蘭民宿推薦-衿日林民宿
meta(name="description" content="宜蘭民宿推薦，衿日林民宿擁有得天獨厚的地理環境，位於冬山河親水公園的正對面，離童玩節會場僅隔一條馬路的距離，是您宜蘭旅遊住宿的好地方。")
link(rel="stylesheet", href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css")
link(rel="stylesheet", href="plugin/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.min.css")
link(href="plugin/fontawesome/css/font-awesome.min.css", rel="stylesheet")
link(href="css/main.css", rel="stylesheet")
<!-- Google Tag Manager -->
script.
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TZ7XBNH');
<!-- End Google Tag Manager -->
