header#header
  .container
    .menubox
      .ham
        input(type="checkbox" id="menuHam")
        label(for="menuHam")
      .logo
        a(href="/")
          .icon
            img(src="images/jinrilin.png" alt="衿日林鄉村度假民宿Logo")
          .text 衿日林鄉村度假民宿
      ul.menu
        li
          a(href="about")
            .icon
              img(src="images/menu/icon-o-01.png" alt="" class="rwd-img")
            .text 關於我們
        li
          a(href="rooms")
            .icon
              img(src="images/menu/icon-o-02.png" alt="" class="rwd-img")
            .text 精緻客房
        li
          a(href="news")
            .icon
              img(src="images/menu/icon-o-03.png" alt="" class="rwd-img")
            .text 最新消息
        li
          a(href="tours")
            .icon
              img(src="images/menu/icon-o-04.png" alt="" class="rwd-img")
            .text 套裝行程
        li
          a(href="traffic")
            .icon
              img(src="images/menu/icon-o-05.png" alt="" class="rwd-img")
            .text 交通資訊                  
        li
          a(href="attractions")
            .icon
              img(src="images/menu/icon-o-06.png" alt="" class="rwd-img")
            .text 鄰近景點
