
script(src="/reload/reload.js")
script(src="https://code.jquery.com/jquery-1.11.1.min.js")
script(src="plugin/jquery.mobile.custom/jquery.mobile.custom.min.js")
script(src="plugin/malihu-custom-scrollbar-plugin-master/js/minified/jquery.mCustomScrollbar.min.js")
script(src="plugin/bxslider/jquery.bxslider.min.js")
script(src="plugin/wow/wow.js")
script(src="js/layout.js")
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-107070202-1")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());
  gtag('config', 'UA-107070202-1');

  $(document).ready(function(){

    $('#loadingBox').hide();
    
  })
