script(src="/reload/reload.js")
script(src="http://code.jquery.com/jquery-1.11.1.min.js")
script(src="plugin/jquery.mobile.custom/jquery.mobile.custom.min.js")
script(src="plugin/bxslider/jquery.bxslider.min.js")
script(src="js/layout.js")
