<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(src="./jquery/dist/jquery.js")
    include ./components/header.pug
    
    
    title Document
body
    .container
        .row
            .col-md-6.col-md-push-3
                form.form
                    .form-group.text-center 後台登入
                        .text-center.form-group.control-label
                            label 帳號：
                            input(type="text")
                        .text-center
                            label 密碼：
                            input(type="password")
                    .text-center
                        button(type="button").btn.btn-block.btn-success 登入
include ./components/footer.pug

        