html(lang="en")
    head
        include ./components/head.pug

    body
      #page-index
        .greetbox.wow.fadeInLeftCust
          .logo
            img(src="/images/logo-o.png" class="rwd-img")
          h1.title
            span 溫馨服務情
            span 窩心衿日林
          .gobtn
            a(href="about" class="enterWeb" onclick="dataLayer.push({'event': 'customEvent', 'eventInfo': {'category': 'Button', 'action': 'press'}})") 進入網站
          .iconbox
            ul
              li
                a
                  .icon
                    img(src="images/icon/lodging.png" class="rwd-img" alt="宜蘭縣民宿0070號")
                  .name 宜蘭縣民宿0070號
              li
                a
                  .icon
                    img(src="images/icon/countrycard.png" class="rwd-img" alt="國民旅遊卡特約民宿")
                  .name 國民旅遊卡特約民宿
              li
                a
                  .icon
                    img(src="images/icon/facebook.png" class="rwd-img" alt="衿日林粉絲專頁")
                  .name 衿日林粉絲專頁
          .bottom
            .contact
              span 訂房專線：03-9500236
              span 行動：0928-073438
              span 張小姐
            .address
              span 地址：宜蘭縣冬山鄉武淵村(三)路116號
              span 傳真：03-9509677
        .sliderbox
          ul#bannerSlider
            li
              .pic(style="background-image:url(images/slider/slider1.jpg)")
              //- img(src="images/slider/slider1.jpg" class="rwd-img")
            li
              .pic(style="background-image:url(images/slider/slider2.jpg)")
              //- img(src="images/slider/slider2.jpg" class="rwd-img")
            li
              .pic(style="background-image:url(images/slider/slider3.jpg)")
              //- img(src="images/slider/slider3.jpg" class="rwd-img")
            li
              .pic(style="background-image:url(images/slider/slider4.jpg)")
              //- img(src="images/slider/slider4.jpg" class="rwd-img")
            li
              .pic(style="background-image:url(images/slider/slider5.jpg)")
              //- img(src="images/slider/slider5.jpg" class="rwd-img")
        .newsbox.wow.fadeInRight
          .title 最新消息
          .contentbox.mCustomScrollbar(data-mcs-theme="dark")
            ul#newsListBox
              if(news)
                each newsElement,index in news
                  li #{newsElement.news_title} #{moment(newsElement.news_date).format("YYYY-MM-DD")}
        footer
          .contact
            span 訂房專線：03-9500236
            span 行動：0928-073438
            span 張小姐
          .address
            span 地址：宜蘭縣冬山鄉武淵村(三)路116號
            span 傳真：03-9509677
include ./components/loading.pug
include ./components/script.pug
script.

  if($(window).width() < 641){
    $('.logo img').attr('src','/images/logo-s.png');
    $('.gobtn a').addClass('whitearrow');
  }


  $('#bannerSlider').bxSlider({
    mode:'fade',
    controls:false,
    pager:false,
    auto:true,
    speed:2000,
    touchEnabled:false
  });
