html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="plugin/fontawesome/css/font-awesome.min.css", rel="stylesheet")
        link(href="css/main.css", rel="stylesheet")
        
    body
      include ./components/header.pug
      #page-news
        .bannerbox
          h1.title 
            span 溫馨服務情
            span 窩心衿日林
        .maincontent
          h2 
            span 最新消息
          ul#newsListBox
            li
              .container
                .title [住房優惠]即日起預訂住宿每房送2017童玩節平日券2張
                .date 發佈日期： 2017-07-12
                .text 即日起預訂住宿，每房即贈送 『2017宜蘭國際童玩藝術節平日券』兩張，這麼有禮，還不趕快拿起電話預約！ 訂房專線：03-9500236、0928...
                .morebtn 查看更多
            li
              .container
                .title [住房優惠]即日起預訂住宿每房送2017童玩節平日券2張
                .date 發佈日期： 2017-07-12
                .text 即日起預訂住宿，每房即贈送 『2017宜蘭國際童玩藝術節平日券』兩張，這麼有禮，還不趕快拿起電話預約！ 訂房專線：03-9500236、0928...
                .morebtn 查看更多
      #popNewsDetail
        .popbg
        .popcontent
          .closebtn
            i.fa.fa-times
          .title [住房優惠]即日起預訂住宿每房送2017童玩節平日券2張
          .date 2017-07-12
          .content
            .pic
              img(src="images/demo/demo1.png" class="rwd-img")
            .text 
              p 即日起預訂住宿，每房即贈送『2017宜蘭國際童玩藝術節平日券』兩張
              p 這麼有禮，還不趕快拿起電話預約！
              p 訂房專線：03-9500236、0928-073438 張小姐
              p 備註：本方案不得與其它優惠方案同時使用
      include ./components/footer.pug
        
        
script(src="/reload/reload.js")
script(src="jquery/dist/jquery.js")
script(src="js/layout.js")
