html(lang="en")
    head
        include ./components/head.pug

    body
      include ./components/header.pug
      #page-news
        .bannerbox
          h1.title.wow.fadeInUpCust
            span 溫馨服務情
            span 窩心衿日林
        .maincontent
          h2
            span.wow.fadeInUp 最新消息
          ul#newsListBox
            if(news)
              each newsElement,index in news
                li.wow.fadeInUp
                  .container
                    .title=newsElement.news_title
                    .date 發佈日期： #{moment(newsElement.news_date).format("YYYY-MM-DD")}
                    .text=newsElement.news_content
                    input(type="hidden" value=newsElement.news_img).news_img
                    .morebtn 查看更多
      #popNewsDetail
        .popbg
        .popcontentbox
          .closebtn
            i.fa.fa-times
          .popcontent.mCustomScrollbar(data-mcs-theme="dark")
            .title [住房優惠]即日起預訂住宿每房送2017童玩節平日券2張
            .date 2017-07-12
            .content
              .pic
                img(src="images/demo/demo1.png" class="rwd-img" alt="衿日林民宿-最新消息")
              .text
                p 即日起預訂住宿，每房即贈送『2017宜蘭國際童玩藝術節平日券』兩張
                p 這麼有禮，還不趕快拿起電話預約！
                p 訂房專線：03-9500236、0928-073438 張小姐
                p 備註：本方案不得與其它優惠方案同時使用
      include ./components/footer.pug
      include ./components/loading.pug


include ./components/script.pug
