extends ./template.pug

block content
    
    .container
        table.table.table-hover.table-striped.cms_table
            thead
                tr
                    th 編號
                    th 標題
                    th 內容
                    th 圖片
                    th 編輯
                    th 刪除
            tbody
                tr
                    th(scope='row') 1
                    td Mark
                    td Otto
                    td Otto
                    td
                        button.btn.btn-primary(type='button' data-type="edit" data-role="page") 編輯
                    td
                        button.btn.btn-danger(type='button' data-type="delete") 刪除
                tr
                    th(scope='row') 2
                    td Jacob
                    td Thornton
                    td @fat
                tr
                    th(scope='row') 3
                    td(colspan='2') Larry the Bird
                    if(news)
                        each newff in news
                            td @twitter #{newff.admin_acc}
        form(action="/news" method="post" enctype="multipart/form-data")
            table.table.table-hover.table-striped.cms_edit
                thead
                    tr
                        th.text-centeralign-middle 標題
                        td
                            input(type="text" name="news_title" )
                    tr
                        th.text-centeralign-middle.align-middle 內容
                        td
                            textarea(name="news_content", cols="30", rows="10").align-middle
                    tr
                        th.text-centeralign-middle 圖片
                        td  img
                            img(src="", alt="")
                            input(type="file" name="news_img")
                    tr
                        td
                        td.text-right
                            button.btn.btn-cansel(type='button' data-type="cancel") 取消編輯 
                            button.btn.btn-success(type='submit' data-type="confirm") 確定

                
    //- nav
    //-     .logo
    //-     ul.nav_ul
    //-         li.nav_li 最新消息