html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        include ./components/header.pug
        title Document
        body
            
            nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
                .container
                    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    a.navbar-brand(href='#') JinRiLin衿日林
                    #navbarNavDropdown.collapse.navbar-collapse
                        ul.navbar-nav.d-flex.justify-content-start
                            li.nav-item.active.p-2
                                a.nav-link(href='/cms_news')
                                    | 最新消息
                                span.sr-only (current)
                            li.nav-item.p-2
                                a.nav-link(href='/cms_tours') 套裝行程
                        if(admin)
                            .ml-auto.p-2
                                span 歡迎您： #{admin.admin_acc}
                                a(href='/signout').d-inline-block.p-2 登出
                            //- li.nav-item.dropdown
                            //-     a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            //-         | Dropdown link
                            //-         .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                            //-             a.dropdown-item(href='#') Action
                            //-             a.dropdown-item(href='#') Another action
                            //-             a.dropdown-item(href='#') Something else here
            block content
        

include ./components/footer.pug